/* FONTS {
    font-family: 'Montserrat', sans-serif;
} */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
    }
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
body {
    background-color: #F7F7F7;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background-image: url("../img/dot-grid.png");
    overflow: hidden;
}
div.container {
    width: 80%;
    margin: 55px auto;
}

/* NAVIGATION */
div.logo h3{
    font-weight: 800;
    color: #4f24ea;
    text-decoration: none;
    font-size: 1.8rem;
    margin: 0;
}
header {
    top: 0;
    position: fixed;
    width: 100%;
    margin: 0 auto;
    background-color: white;
}
nav.main-nav {
    min-height: 8vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    justify-items: baseline;
    align-items: center;
}
.hamburger {
    display: block;
}
.hamburger div{
    width: 25px;
    height: 3px;
    background-color: #4f24ea;
    margin: 5px;   
}
.nav-links {
    position: absolute;
    right: 0px;
    width: 100%;
    height: 92vh;
    top: 8vh;
    background-color: #4f24ea;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    text-align: end;
}
.nav-links > li {
    margin: 0 auto;
    width: 80%;
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
    padding: 32px 0;
}
a.menu-item {
    color: white;
}

ul.nav-links-desktop {
    display: none;
}

/* CONTENT HOME*/
div.container-home {
    padding-top: 40px;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
/* INTRO HOME TEXT */
h1.intro-title {
    color: #4f24ea;
    font-size: 3.5rem;
    padding: 1rem 0;
}
div.introduction > p:first-child{
    font-size: 2.5rem;
}
div.introduction > p:last-child {
    font-size: 1.75rem;
    line-height: 2.625rem;
}
div.social-links a {
    margin: 1.625rem 2.625rem 1.625rem 0;
}
.social-links {
    display: flex;
    flex-wrap: nowrap;
}
a img.link-icons {
    margin-top: 10px;
    height: 35px;
    fill: black;
}
a img.link-icons:hover {
    filter: invert(12%) sepia(100%) saturate(7478%) hue-rotate(254deg) brightness(82%) contrast(108%);
    transition: 0.3s;
}
a.btn {
    font-size: 1.125rem;
    color: #4f24ea;
    background-color: white;
    font-weight: bold;
    border: 5px solid #4f24ea;
    padding: 15px;
    margin: 2rem 0;
    border-radius: 3.5rem;
}
a.btn:hover {
    color: white;
    background-color: #4f24ea;
    transition: color 0.2s ease-in 0.1s ;
}

section {
    width: 100%;
    margin-top: 50px;
}
h3 {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 10px;
}
p {
    font-size: 1.125rem;
    line-height: 25px;
}

/* ABOUT SECTION - ABOUT SECTION - ABOUT SECTION */

div.abt-img {
    width: 60%;
    height: 250px;
    background-color: gray;
    margin: 30px auto;
    
}

div.abt-content p {
    margin-top: 20px;
}




/* CODE SECTION - CODE SECTION - CODE SECTION */
div.card {
    font-size: 0.85rem;
    padding: 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 0.3rem;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
h4 {
    font-size: 0.85rem;
}
div.card-info {
    width: 65%;
}
div.card-info p {
    font-size: 0.85rem;
    line-height: 1.1rem;
    padding: 15px 0;
}
div.card-tags span {
    padding: 3px 8px;
    color: #4f24ea;
    background-color: #eaeaea;
    font-size: 0.7rem;
    border-radius: 2.5rem;
    margin-right: 5px;
}
div.card-image {
    background-color: grey;
    height: auto;
    width: 30%;
}

a.rgl-links {
    font-weight: 600;
    color: #4f24ea;
}
div.git-link {
    text-align: center;
    margin-top: 1.5rem;
}

/* DESIGN SECTION - DESIGN SECTION - DESIGN SECTION */

div.card-container-dsgn {
    width: 100%;
}
div.card-dsgn {
    margin: 20px 0 30px 0;
}
div.card-dsgn img {
    background-color: grey;
    width: 100%;
    height: 300px;
}
div.card-dsgn-info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
a.lnk-learn-more {
    font-size: 0.85rem;
}


  /* DESKTOP STYLES */
  /* DESKTOP STYLES */
  /* DESKTOP STYLES */
  /* DESKTOP STYLES */

@media only screen and (min-width: 600px) {

    div.container-home {
        margin-top: 150px;
    }

    .hamburger {
        display: none;
    }
    ul.nav-links-desktop {
        display: block;
        display: flex;
    }
    ul.nav-links-desktop li a {
        color: black;
        margin-left: 50px;
        font-size: 1rem;
    }  
    ul.nav-links-desktop li a:hover {
        color: #2E16D8;
        padding-bottom: 5px;
        border-bottom: 2px dotted #2E16D8;
    }  
    ul.nav-links-desktop li a:active {
        color: #2E16D8;
    }
    div.social-links {
        margin-top: 1.5rem;
    }

    /* HOME */
    div.container-home {
        padding-top: 53px;
        width: 100%;
    }
    /* INTRO */
    .introduction{
        display: block;
    }
    div.introduction > p {
        text-align: left;
    }
    h1.title{
        text-align: left;
    }
    .social-links {
        display: block;
    }

    /* ABOUT SECTION - ABOUT SECTION - ABOUT SECTION */

    div.abt-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    div.abt-img {
        width: 35%;
        margin-right: 0;
    }

    div.abt-content {
        width: 55%;
    }

    /* CODE SECTION - CODE SECTION - CODE SECTION */
    div.card-container {
        display: flex;
        justify-content: space-between;
    }
    div.card {
        width: 30%;
        flex-direction: column-reverse;
        border: none;
        padding: 0;
        justify-content: start;
    }
    div.card:hover {
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
        cursor: pointer;
        color: #2E16D8;
    }
    div.card-image {
        width: 100%;
        height: 250px;
    }
    div.card-info {
        margin-top: 20px;
        width: 100%;
        padding: 0 10px 15px 10px;
        background-color: white;
    }

    div.git-link {
        margin-top: 50px;
    }
    a.rgl-links:hover {
        border-bottom: 2px dotted #2E16D8;
    }

    /* DESIGN SECTION - DESIGN SECTION - DESIGN SECTION */
    div.card-container-dsgn {
        display: flex;
        justify-content: space-between;
    }
    div.card-dsgn {
        width: 47%;
        background-color: white;
    }
    div.card-dsgn:hover{
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
        cursor: pointer;
        color: #2E16D8;
    }
    div.card-dsgn img {
        height: 400px;
    }
    div.card-dsgn-info {
        padding: 15px 10px;
    }



}