/* FONTS {
    font-family: 'Montserrat', sans-serif;
} */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #F7F7F7;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background-image: url("../img/dot-grid.png");
}

    /* NAVIGATION */
a.logo {
    font-weight: 800;
    color: #4f24ea;
    font-size: 1.6rem;
    margin-bottom: 10px;
    text-decoration: none;
}
header {
    padding-top: 3rem;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
div.main-nav {
    width: 100%;
    font-weight: 100;
    display: flex;
}
a.menuLinkItem {
    font-weight: 400;
    padding: 15px 0;
    font-size: 1.25rem;
    text-decoration: none;
    color: #7A7A7A;
}
a.menuLinkItem:hover {
    color: #4f24ea;
}
div.main-nav > a {
    margin-left: 30px;
}

/* CONTENT HOME MOBILE*/
div.container-home {
    padding-top: 40px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* INTRO HOME TEXT */
div.introduction {
    text-align: left;
}
h1.intro-title {
    color: #4f24ea;
    font-size: 3.5rem;
    padding: 1rem 0;
}
div.introduction > p:first-child{
    font-size: 2.5rem;
}
div.introduction > p:last-child {
    font-size: 1.75rem;
    line-height: 2.6rem;
}


div.profile-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

a img.link-icons {
    margin-top: 10px;
    height: 35px;
    filter: invert(57%) sepia(4%) saturate(11%) hue-rotate(10deg) brightness(82%) contrast(82%);
    margin-left: 10px;
}
a img.link-icons:hover {
    filter: invert(12%) sepia(100%) saturate(7478%) hue-rotate(254deg) brightness(82%) contrast(108%);
}





/* ABOUT PAGE MOBILE */
.about-main-content{
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}
div.about-left-column {
    width: 100%;
    margin-bottom: 20px;
}
div.about-left-column h1{
    color: #2E16D8;
    font-size: 2rem;
}
div.about-left-column p{
    padding-top: 20px;
    font-size: 1rem;
}
/* MAP COLUMN */
div.about-btns {
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.about-btn-prev, 
.about-btn-next {
    width: 90px;
    padding: 10px 5px;
    border: 2px solid #2E16D8;
    background-color: white;
    font-family: 'Montserrat';
    color: #2E16D8;
    font-weight: 600;
}

button.contact-btn-disabled{
    width: 90px;
    padding: 10px 5px;
    border: 2px solid #ccc;
    background-color: white;
    font-family: 'Montserrat';
    color: #ccc;
    font-weight: 600;
    cursor: pointer;
}

button.contact-btn-enabled{
    width: 90px;
    padding: 10px 5px;
    border: 2px solid #2E16D8;
    background-color: white;
    font-family: 'Montserrat';
    color: #2E16D8;
    font-weight: 600;
    cursor: pointer;
}

.about-btn-prev:hover, 
.about-btn-next:hover
{
    color: white;
    background-color: #2E16D8;
    cursor: pointer;
}
.about-btn-prev{
    margin-right: 10px;
}
.about-btn-next{
    margin-left: 10px;
}
div.about-right-column iframe{
    max-width: 100%;
}

/* CONTACT PAGE */

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;  
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }

  input[type=date]{
      width: 30%;
      padding: 12px;  
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-top: 6px; 
      margin-bottom: 16px; 

  }

 
  /* DESKTOP STYLES */
  /* DESKTOP STYLES */
  /* DESKTOP STYLES */
  /* DESKTOP STYLES */


@media only screen and (min-width: 480px) {

    /* NAVIGATION */
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }
    /* HOME */
    div.container-home {
        padding-top: 53px;
        width: 80%;
    }
    /* INTRO */
    .introduction{
        display: block;
    }
    div.introduction > p {
        text-align: left;
    }
    h1.title{
        text-align: left;
    }
 
    .profile-links {
        display: block;
    }

    /* ABOUT PAGE */
    .about-main-content{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    div.about-left-column {
        width: 35%;
    }
    div.about-right-column{
        width: 55%;
    }

    /* CONTACT */
    div.contact-container {
        width: 50%;
        margin: 0 auto;
    }




  






}