/* FONTS {
    font-family: font-family: 'Montserrat', sans-serif;;
} */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #F7F7F7;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    width: 100%;
    color: #7A7A7A;
}
    /* NAVIGATION */
a.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #2E16D8;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-decoration: none;
    
}
header {
    padding-top: 3rem;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
   
}
div.main-nav {
    width: 100%;
    font-weight: 100;
    display: flex;
}

a.menuLinkItem {
    padding: 15px 0;
    font-size: 1rem;
    text-decoration: none;
    color: #7A7A7A;
}

div.main-nav > a {
    margin-left: 20px;
}

div.container-home {
    width: 80%;
    margin: 0 auto;
}

div.introduction {
    margin-top: 8rem;
    font-family:'Montserrat', sans-serif;
}

h1.title {
    color: #2E16D8;
    font-size: 3.5rem;
    padding: 6px 0;
}

div.introduction > p {
    font-size: 1.3rem;
}



@media only screen and (min-width: 480px) {

    /* NAVIGATION */
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }




}